{% extends 'layout.html' %} {% block content %} {% for pitch in pitches.items %}
<article class="media content-section" style="border: 2px gold solid; border-radius: 5%; background-color: steelblue;color: black;">
    <a href="{{ url_for('users.user_pitches', username=pitch.author.username) }}"><img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + pitch.author.image_file) }}"></a>
    <div class="media-body">
        <div class="article-metadata">
            <h5 class="pull-right" style="font-weight: 600; font-family: monospace;">By {{ pitch.author.username }}</h5>
        </div>
        <h2><a class="article-title" href="{{ url_for('pitchess.pitch', pitch_id=pitch.id) }}">{{ pitch.category }}</a></h2>
        <p class="article-content">{{ pitch.content }}</p>
        <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-thumbs-down ml-2" aria-hidden="true"></i></a>
    </div>
</article>
{% endfor %} {% for page_num in pitches.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %} {% if page_num %} {% if pitches.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a> {% else %}
<a class="btn btn-outline-danger mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a> {% endif %} {% else %} ... {% endif %} {% endfor %} {% endblock content %}