{% extends 'layout.html' %}
{% block content %}
    <!-- <article class="media content-section"> -->
    <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-title">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + pitch.author.image_file) }}">
          <h2>{{ pitch.author.username }}</h2>
          <small>{{ pitch.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <div class="card-body text-dark">
          <h2><a class="card-title">{{ pitch.category }}</a></h2>
          <p class="card-text">{{ pitch.content }}</p>
        </div>
    </div>
    <!-- </article> -->
{% endblock content %}

